.member-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
}

.form-row {
  display: flex;
  gap: 16px;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
}

mat-form-field {
  width: 100%;
}
