<div class="parent">
  <div class="div1">
    <div class>
      <div class="brand">
        <img src="/logoLogin.png" style="width: 450px;">
      </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Usuario</mat-label>

   

    <input 
      matInput 
      formControlName="email" 
      placeholder="Ingrese su usuario">

  </mat-form-field>


  <mat-form-field appearance="outline" class="full">

    <mat-label>Contraseña</mat-label>

    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      placeholder="Ingrese su contraseña"
    >

  </mat-form-field>


  <button
    *ngIf="!loading"
    mat-raised-button
    color="primary"
    class="btn"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Ingresar
  </button>

  <div *ngIf="loading" class="loader-container">
    <div class="loader"></div>
  </div>

</form>
     
    </div>
  </div>
  <div class="div2">
    <img src="/gimnasio_fondo.png" alt="Gimnasio foto" />
  </div>
</div> 