<h2 mat-dialog-title>Registrar Nueva Visita</h2>

<form [formGroup]="visitForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Miembro</mat-label>
        <input type="text"
               placeholder="Escribe el nombre del miembro"
               aria-label="Miembro"
               matInput
               formControlName="id_miembro"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
          <mat-option *ngFor="let member of filteredMembers | async" [value]="member.id_miembro">
            {{member.nombre}} {{member.apellido}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="visitForm.get('id_miembro')?.hasError('required')">
          Debes seleccionar un miembro
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row flex">
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" formControlName="fecha_visita">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hora de Entrada</mat-label>
        <input matInput type="time" formControlName="hora_entrada">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Comentarios (Opcional)</mat-label>
        <textarea matInput formControlName="comentarios" placeholder="Ej: Olvidó su toalla"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="visitForm.invalid">
      <mat-icon>save</mat-icon> Registrar
    </button>
  </mat-dialog-actions>
</form>
